@model GP01NS.Classes.ViewModels.MusicoVM

@{
    ViewBag.Title = Model.NomeArtistico;
    ViewBag.Description = Model.Descricao;
    ViewBag.Image = Model.GetImagemPerfil();

    var Usuario = (GP01NS.Classes.ViewModels.UsuarioVM)ViewBag.Usuario;

    var Generos = Model.GetGenerosMusicais();
    var Habilidades = Model.GetHabilidades();
    var Imagens = Model.GetImagens();
    var Perfil = Model.GetImagemPerfil();
    var Avaliacao = (GP01NS.Classes.ViewModels.AvaliacaoVM)ViewBag.Avaliacao;
}

<link href="~/CSS/Views/Musico/perfil.css" rel="stylesheet" />

@if (ViewBag.Avaliacao != null)
{
    @RenderPage("~/Views/Inicio/Parciais/Musico/_Avaliacao.cshtml")
}

<div class="card-body pt-0">
    <div class="card-body container-fluid">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="row">
                    <div class="perfil">
                        <label class="perfil-imagem foto-imagem" style="@(Perfil != "#" ? "background-image:url(" + Perfil + ");" : string.Empty)" data-url="@Perfil">
                            @if (Usuario != null)
                            {
                                if (Usuario.ID == Model.ID)
                                {
                                    <form action="/Musico/UploadProfile/" method="post" enctype="multipart/form-data">
                                        <div class="foto-hover"></div>
                                        @Html.Hidden("Href", this.Request.RawUrl)
                                        <input type="file" id="Arquivo" name="Arquivo" onchange="javascript:this.form.submit();">
                                    </form>
                                }
                            }
                        </label>
                        <div class="perfil-texto">
                            <h2 id="musico" data-nome="@Model.NomeArtistico">
                                @Model.NomeArtistico
                                <span class="badge badge-secondary" style="font-size: 0.6rem; font-family: 'Segoe UI', sans-serif">Músico</span>
                            </h2>
                            <small>
                                <a href="javascript:void(0);">Denúnciar Músico</a>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="habilidade">
                        <div class="mb-2">
                            <strong>Gênero(s) musicais</strong>
                        </div>
                        @if (Generos != null)
                        {
                            <div class="habilidade-lista flex">
                                @for (int i = 0; i < Generos.Count; i++)
                                {
                                    <div class="habilidade-item">
                                        @Generos[i]
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <label>-</label>
                        }
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="sobre">
                        <div class="mb-2">
                            <strong>Sobre @Model.NomeArtistico</strong>
                        </div>
                        <div class="sobre-texto col-lg-11 col-sm-12 no-padding">
                            @Html.Raw(Model.Descricao.Replace("\n", "<br />"))
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mb-3">
                    <div class="habilidade">
                        <div class="mb-2">
                            <strong>Habilidade(s)</strong>
                        </div>
                        @if (Habilidades != null)
                        {
                            <div class="habilidade-lista flex">
                                @for (int i = 0; i < Habilidades.Count; i++)
                                {
                                    <div class="habilidade-item">
                                        @Habilidades[i]
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <label>-</label>
                        }
                    </div>
                </div>
                @if (Model.RedesSociais != null)
                {
                    <div class="row mb-3">
                        @if (!string.IsNullOrEmpty(Model.RedesSociais.Embed))
                        {
                            @Html.Raw(Model.RedesSociais.Embed)
                        }
                    </div>
                }
            </div>
            <div class="col-lg-4 col-sm-12 lado-fotos">
                <div class="bloco-participante shadow p-3 bg-white rounded border mb-4">
                    <div class="row mb-4 ">
                        <div class="mb-3 text-center col-12">
                            <strong>Veja as fotos deste artista</strong>
                        </div>
                        <div class="foto-lista flex space-between">
                            @for (int i = 0; i < Imagens.Count; i++)
                            {
                                <div class="foto-item">
                                    <label class="foto-imagem" style="background-image: url(@("http://nossoshow.gerison.net" + Imagens[i]))">
                                        @if (Usuario != null)
                                        {
                                            @*if (Usuario.ID == Model.ID)
                                                {
                                                    <form action="/Musico/UploadImagem" method="post" enctype="multipart/form-data">
                                                        <div class="foto-hover"></div>
                                                        <input type="file" name="Imagem" onchange="javascript:this.form.submit();">
                                                    </form>
                                                }*@
                                        }
                                    </label>
                                </div>
                            }

                            @if (Usuario != null)
                            {
                                for (int i = 0; i < 4 - Imagens.Count; i++)
                                {
                                    <div class="foto-item">
                                        <label class="foto-imagem">
                                            @if (Usuario.ID == Model.ID)
                                            {
                                                <form action="/Musico/UploadImagem/" method="post" enctype="multipart/form-data">
                                                    <div class="foto-hover"></div>
                                                    <input type="file" name="Imagem" onchange="javascript:this.form.submit();">
                                                </form>
                                            }
                                        </label>
                                    </div>
                                }
                            }
                            else
                            {
                                for (int i = 0; i < 4 - Imagens.Count; i++)
                                {
                                    <div class="foto-item">
                                        <div class="foto-imagem"></div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div>
                        @if (Avaliacao != null)
                        {
                            <div class="mb-3 text-center col-12">
                                <strong class="display-5">Clique para avaliar este artista</strong>
                                <div class="nota @("nota-" + Avaliacao.Nota)" id="modal-avaliar">
                                    <span class="voto-1 oi oi-heart"></span>
                                    <span class="voto-2 oi oi-heart"></span>
                                    <span class="voto-3 oi oi-heart"></span>
                                    <span class="voto-4 oi oi-heart"></span>
                                    <span class="voto-5 oi oi-heart"></span>
                                </div>
                            </div>
                        }
                        <div class="mb-3 text-center col-12">
                            <strong>Comentários recentes</strong>
                        </div>
                        <div class="comentario-lista mb-4" data-musico="@Model.ID">
                            <div class="comentarios"></div>
                            @RenderPage("~/Views/Layout/Parciais/Load/Load.cshtml")
                        </div>
                    </div>
                    @if (Usuario != null)
                    {
                        if (Usuario.ID != Model.ID)
                        {
                            if (Usuario.TipoUsuario == 3)
                            {
                                if (!Usuario.Seguindo(Model.ID))
                                {
                                    <button class="btn btn-primary" id="btn-seguir" data-musico="@Model.ID">Seguir</button>
                                }
                                else
                                {
                                   <button class="btn btn-danger" id="btn-seguir" data-musico="@Model.ID">Deixar de Seguir</button>
                                }
                            }
                        }
                        else
                        {
                            <a href="/musico/conta/" class="btn btn-primary">Editar Perfil</a>
                        }

                    }
                    else
                    {
                        <a href="/entrar/" class="btn btn-primary">Entre para seguir</a>
                    }
                </div>
            </div>
        </div>
        <div class="row card-compartilhar">
            @if (Model.RedesSociais != null)
            {
                @RenderPage("~/Views/Inicio/Parciais/Musico/_Compartilhar.cshtml")
            }
        </div>
    </div>
</div>

<script src="~/Scripts/Views/Inicio/musico.js"></script>