@model GP01NS.Classes.ViewModels.MusicoVM

@{
    ViewBag.Title = "Músico";
}
<link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
<link href="~/CSS/Views/Musico/index.css" rel="stylesheet" />

<section class="resume-section p-3 p-lg-5 d-flex d-column ml-auto mr-auto text-center">
    <div class="my-auto">
        <h1 class="mb-0">
            @try
            {
                @Model.NomeArtistico.Split(' ')[0]
                <span class="text-primary">@Model.NomeArtistico.Split(' ')[1]</span>
            }
            catch
            {
                @Model.NomeArtistico
            }
        </h1>
        <div class="subheading mb-5">
            @Model.GetEnderecoString()
            <br /><br />
            <a href="#">@Model.Email</a>
        </div>
        <p class="lead mb-5">
            @Html.Raw(Model.Descricao.Replace("\n", "<br />"))
        </p>
        <div class="social-icons">
            <a href="/musico/conta/">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </div>
</section>