@model GP01NS.Classes.ViewModels.MusicoVM

@{
    ViewBag.Title = Model.NomeArtistico;
}


<h2>@Model.NomeArtistico</h2>

<img src="@Model.GetImagemPerfil()" alt="profile" />

<form action="/Musico/UploadProfile" method="post" enctype="multipart/form-data">
    <input type="file" id="Arquivo" name="Arquivo" onchange="javascript:this.form.submit();">
</form>

<p>
    @Model.Descricao
</p>
<p>Nascimento: @Model.Nascimento.ToShortDateString()</p>
<link href="~/CSS/Views/Musico/perfil.css" rel="stylesheet" />



<div class="card col-lg-10 col-sm-12 mx-auto">
    <div class="card-body row">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                @RenderPage("Parciais/Descricao.cshtml")
            </div>
            <div class="col-lg-4 col-sm-12 lado-fotos">
                @RenderPage("Parciais/fotos.cshtml")
            </div>
        </div>
        <div class="row card-compartilhar">
            @RenderPage("Parciais/compartilhar.cshtml")
        </div>
    </div>
</div>